<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
    <h1>Books</h1>

    <p><a href="/"><button>Go back</button></a></p>

    <table border="1">
        <tr>
            <th>title</th>
            <th>publishdate</th>
        </tr>

        <tr th:each="book : ${books2}">
            <td th:utext="${book.title}">title</td>
            <td th:utext="${book.publishdate}">publishdate</td>
        </tr>

    </table>

    <h1>Create Book</h1>

    <form action="#" th:action="@{/books}" th:object="${books}" method="post">
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>PublishDate: <input type="date" th:field="*{publishdate}" /></p>

        <p><input type="submit" value="Submit" /></p>
    </form>

</body>
</html>